<script>
	import TestService from './services/TestService'
	import FileService from './services/FileService'
	import HttpService from './services/HttpService'
	const file = {
		base64: '',
		filename: '',
		token: 'berySAekretToken111111'
	}
	let testInfo 
	let files
  class InputFile {
		constructor(file) {
			this._file = file
			this._fileBase64 = file
		}
		
		get fileBase64() {
			return this._fileBase64
		}

	}
	
	const inputFile = async (event) => {
		const fileService = new FileService(event.target.files[0])
		await fileService.fileToBase64()
		console.log(' Закодированный файл = ', fileService.result)
		file.base64 =  fileService.result
		file.filename = event.target.files[0].name
		console.log(file)
	}

	const clickToButton = async (event) => {
		
		const httpService = new HttpService()
		const result = await httpService.uploadFiles(file)
		console.log('result = ', result)
	}

  const main = async () => {
		testInfo = await TestService.doTest()
	}

	main()
	
</script>

<main>
	<p>test info: {testInfo}</p>
	<form>
		<input type="text">
		<input type="file" on:input="{inputFile}" bind:files>
		<button on:click|preventDefault="{clickToButton}">start</button>
	</form>
</main>

<style>
	
</style>